<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg bg-primary">
  <img src="../../../assets/image/localib.png" alt="">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Localib</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cars">Gestion
            des vehicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Location des vehicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/users">Gestions des locataires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Gestions des locations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>