<div class="form-card">
    <form [formGroup]="carForm">
      <div class="form-group">
        <label for="marque">marque</label>
        <input id="marque" type="text" formControlName="marque">
      </div>
      <div class="form-group">
        <label for="modele">modele</label>
        <input id="modele" type="text" formControlName="modele">
      </div>
      <div class="form-group">
        <label for="immatriculation">immatriculation</label>
        <input id="immatriculation" type="text" formControlName="immatriculation">
      </div>
      <div class="form-group">
        <label for="prix">prix</label>
        <input id="prix" type="number" formControlName="prix">
      </div>
      <div class="form-group">
        <label for="etat">etat</label>
        <input id="etat" type="text" formControlName="etat">
      </div>
      <div class="form-group">
        <label for="type">type</label>
        <input id="type" type="text" formControlName="type">
      </div>
      <div class="action-buttons">
        <button type="submit" (click)="onSubmitCars()">Enregistrer</button>
      </div>
    </form>