.form-card {
  box-sizing: border-box;
  width: 40%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: rgb(7, 10, 196) 4px 4px 20px;
  background-color: rgb(18, 18, 229);
  border-radius: 10px;
}

.form-group {
  margin: 10px auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input,
textarea {
  width: 50%;
  border-radius: 10px;
}

.action-buttons {
  width: 100%;
}

button {
  display: block;
  margin: 20px auto;
}